In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv("time_frame.csv")

In [3]:
data.iloc[:,3:-1]

,1,2,3,4,5,6,7,8,9,10,...,51,52,53,54,55,56,57,58,59,60
0,4740.00,4740.00,4739.90,4738.59,4736.09,4735.10,4736.08,4736.09,4739.86,4739.88,...,4727.97,4734.97,4735.49,4737.35,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79
1,4740.00,4739.90,4738.59,4736.09,4735.10,4736.08,4736.09,4739.86,4739.88,4739.89,...,4734.97,4735.49,4737.35,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79,4742.79
2,4739.90,4738.59,4736.09,4735.10,4736.08,4736.09,4739.86,4739.88,4739.89,4739.90,...,4735.49,4737.35,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79,4742.79,4742.79
3,4738.59,4736.09,4735.10,4736.08,4736.09,4739.86,4739.88,4739.89,4739.90,4741.99,...,4737.35,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79,4742.79,4742.79,4734.01
4,4736.09,4735.10,4736.08,4736.09,4739.86,4739.88,4739.89,4739.90,4741.99,4742.59,...,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79,4742.79,4742.79,4734.01,4726.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130975,9406.41,9417.48,9474.99,9473.00,9473.00,9473.00,9472.00,9484.00,9488.00,9487.95,...,9840.00,9800.00,9846.00,9799.00,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00
130976,9417.48,9474.99,9473.00,9473.00,9473.00,9472.00,9484.00,9488.00,9487.95,9488.99,...,9800.00,9846.00,9799.00,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00,9800.01
130977,9474.99,9473.00,9473.00,9473.00,9472.00,9484.00,9488.00,9487.95,9488.99,9490.00,...,9846.00,9799.00,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00,9800.01,9775.99
130978,9473.00,9473.00,9473.00,9472.00,9484.00,9488.00,9487.95,9488.99,9490.00,9496.00,...,9799.00,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00,9800.01,9775.99,9751.06
130979,9473.00,9473.00,9472.00,9484.00,9488.00,9487.95,9488.99,9490.00,9496.00,9579.96,...,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00,9800.01,9775.99,9751.06,9769.99

In [4]:
num_data=data.to_numpy()

In [5]:
new=num_data[:,3:-1]

In [6]:
new.shape

(130980, 60)

In [7]:
meaan=np.arange(new.shape[0])
lis=[]

In [8]:
for i in new:
    lis.append(i.mean())

In [9]:
# lis

In [10]:
for i in range(data.iloc[:,-1].shape[0]):
        if(data.iloc[:,-1][i]==lis[i]):
            data.iloc[:,-1][i]=0
        elif(data.iloc[:,-1][i]>lis[i]):
            data.iloc[:,-1][i]=1
        else:
            data.iloc[:,-1][i]=-1

/home/pulkit/.local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/pulkit/.local/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/pulkit/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
data

,Unnamed: 0,Timestamp,polarity,1,2,3,4,5,6,7,...,52,53,54,55,56,57,58,59,60,61
0,0,2017-09-01 01:00:00,0.095204,4740.00,4740.00,4739.90,4738.59,4736.09,4735.10,4736.08,...,4734.97,4735.49,4737.35,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79,-1.0
1,1,2017-09-01 01:01:00,0.095204,4740.00,4739.90,4738.59,4736.09,4735.10,4736.08,4736.09,...,4735.49,4737.35,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79,4742.79,-1.0
2,2,2017-09-01 01:02:00,0.095204,4739.90,4738.59,4736.09,4735.10,4736.08,4736.09,4739.86,...,4737.35,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79,4742.79,4742.79,-1.0
3,3,2017-09-01 01:03:00,0.095204,4738.59,4736.09,4735.10,4736.08,4736.09,4739.86,4739.88,...,4737.35,4739.79,4742.95,4742.83,4742.79,4742.79,4742.79,4742.79,4734.01,-1.0
4,4,2017-09-01 01:04:00,0.095204,4736.09,4735.10,4736.08,4736.09,4739.86,4739.88,4739.89,...,4739.79,4742.95,4742.83,4742.79,4742.79,4742.79,4742.79,4734.01,4726.96,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130975,130975,2017-11-30 23:55:00,0.094750,9406.41,9417.48,9474.99,9473.00,9473.00,9473.00,9472.00,...,9800.00,9846.00,9799.00,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00,1.0
130976,130976,2017-11-30 23:56:00,0.094750,9417.48,9474.99,9473.00,9473.00,9473.00,9472.00,9484.00,...,9846.00,9799.00,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00,9800.01,1.0
130977,130977,2017-11-30 23:57:00,0.094750,9474.99,9473.00,9473.00,9473.00,9472.00,9484.00,9488.00,...,9799.00,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00,9800.01,9775.99,1.0
130978,130978,2017-11-30 23:58:00,0.094750,9473.00,9473.00,9473.00,9472.00,9484.00,9488.00,9487.95,...,9808.28,9800.01,9814.97,9816.00,9820.00,9808.00,9800.01,9775.99,9751.06,1.0
130979,130979,2017-11-30 23:59:00,0.094750,9473.00,9473.00,9472.00,9484.00,9488.00,9487.95,9488.99,...,9800.01,9814.97,9816.00,9820.00,9808.00,9800.01,9775.99,9751.06,9769.99,1.0

In [12]:
split=int(0.8*data.shape[0])
train=data.iloc[:split,:]
test=data.iloc[split:,:]

In [13]:
train_labels=train.iloc[:,-1]
training=train.iloc[:,:63]
test_labels=test.iloc[:,-1]
testing=test.iloc[:,:63]
training=training.drop(columns=['Timestamp'])
testing=testing.drop(columns=['Timestamp'])

In [ ]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(training,train_labels)

In [ ]:
test_output=clf.predict(testing)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(test_labels, test_output)-10

0.905367231638418